<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <script language="JavaScript" type="text/javascript" src="{{constant('shopping\\Bootstrap::APP_URL')}}js/jquery-3.2.1.min.js"></script>
        <link href="{{constant('shopping\\Bootstrap::APP_URL')}}css/css/ress.css" rel="stylesheet" type="text/css" />
        <link href="{{constant('shopping\\Bootstrap::APP_URL')}}css/css/complete.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Orbitron&family=Press+Start+2P&family=Titillium+Web&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/6ddd616ad6.js" crossorigin="anonymous"></script>
        <title>Membership Registation Complete</title>
    </head>
    <body>
        <div id="container">
            <div id="TopTitle"><h1><a href="http://localhost:8888/DT/shopping/list.php">Neutral Life</a></h1></div>
            <div id="product_search">
                <form method="post" action="search.php">
                    <input type="search" placeholder="Search" name="keyword" value="">
                    <button type="submit" class="font-awesome_submit"><i class="fas fa-search"></i></button>
                </form>
            </div>    

            <p class="MemberComplete">Membership Registation Complete.</p>
            <section class="ThankYou">Thank You So Much !</section>
                <p class="BackToTop"><a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}list.php">Back To Top</a>

                <hr class="hr_footer">

                <footer>                      
                    <div id="footer">    
                        <section class="Twitter"><a href="https://twitter.com/Neutral_Colour"><span class="TwitterFont"><i class="fab fa-twitter"></i></span></a></section>
                        <section class="Copyright"><small>&copy; 2020 Neutral Colour</small></section>  
                    </div>                  
                </footer>    
        </div>
    </body>
</html>